<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuejs</title>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:title="message">{{ message }}</h1>
      <h2 v-if="seen">Hehe</h2>
      <ul>
        <li v-for="todo in todos">{{todo.title}}</li>
      </ul>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <input ref="input" v-model="message" />
      <todo-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.title"></todo-item>
      <form v-on:submit="handleSubmit">
        <input type="text" v-model="name" />
        <button type="submit">Submit</button>
      </form>
      <p>Reversed message: {{ increaseCount }}</p>
      <p>{{age}}</p>
      <h5>Count: {{getCountStore}}</h5>
      <button v-on:click="increment">Increase Count</button>
      <button v-on:click="createTodo">create todo</button>
      <form @submit.prevent="createTodo">
        <input v-model="title" />
        <input v-model="description" />
        <button type="submit">Add</button>
      </form>
      <div>
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-view></router-view>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./item.js"></script>
    <script src="./app.js" type="module"></script>
    <!-- <script src="./item.js"></script> -->
  </body>
</html>
